*.agdai

2017_PolyRing/\.DS_Store

\.DS_Store

*.log

*.aux

*.bbl

*.blg

*.dvi

*.ptb

FLOPS/exf-flops\.pdf

FLOPS-multi/main-flops\.pdf
FLOPS-multi/main-flops\.tex
FLOPS-multi/sections/Introduction\.tex
FLOPS-multi/sections/Datatype\.tex
FLOPS-multi/sections/Expr\.tex

2017_PolyRing/On Paper/proofs\.pdf
